body {
    background: black ;
}

h1 {
    color: aliceblue;
    text-align: center;
}

.grid {
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    color: aliceblue;
    text-align: center;
}

.row {
    color: aliceblue;
    justify-content: center;
    align-content: center;
}







